@import '../variables.scss';

footer {
  width: 100%;
  background-color: $color-background; // Utilisation de la couleur de fond
  color: $color-text;
  text-align: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;
  bottom: 0;
  font-family: $font-family;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  height: 150px;
  position: relative;
}

.footer-left,
.footer-right {
  flex: 1;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-right {
  display: flex;
  flex-direction: column; /* Ajout de cette ligne pour aligner les éléments en colonne */
  justify-content: flex-end;
  align-items: flex-end; /* Ajout de cette ligne pour aligner le texte à droite */
  text-align: right; /* Ajustement pour que le texte soit aligné à droite */
}

.footer-right h4 {
  margin: 0 0 10px;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-right ul li {
  margin: 5px 0;
}

.footer-right ul li a {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: $color-hover;
  }
}

.footer-right ul li a:hover {
  text-decoration: underline;
}

.footer-map {
  flex: 0 0 600px; /* Largeur fixe */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
