@import '../variables.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  padding: 10px 0;
  margin-bottom: 20px;
  height: 100px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;

    ul {
      list-style: none;
      display: flex;
      gap: 30px;
      padding: 0;
      margin: 0;

      li {
        a {
          color: $color-200;
          text-decoration: none;
          padding: 10px 20px;
          border-radius: 25px;
          background: linear-gradient(45deg, $color-800, $color-700);
          border: 1px solid $color-200;
          font-family: $font-family;
          font-size: 20px;
          font-weight: bold;

          &:hover {
            background: linear-gradient(45deg, $color-200, $color-100);
            border: 1px solid $color-700;
            color: $color-700;
          }

          &.active {
            background: linear-gradient(45deg, $color-200, $color-100);
            border: 1px solid $color-700;
            color: $color-700;
          }
        }
      }
    }

    .logo-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      .logo {
        height: 150px;
        width: 150px;
      }
    }
  }
}
