// variables.scss
$color-background: #1A140F;
$color-text: #D7D3B1;
$color-50: #F7F6EF;
$color-100: #EAE8D7;
$color-200: #D7D3B1;
$color-300: #BFB785;
$color-400: #ACA063;
$color-500: #9D8E55;
$color-600: #877347;
$color-700: #6D5A3B;
$color-800: #5D4C36;
$color-900: #514232;
$color-950: #1A140F;
$color-primary: $color-500;
$color-secondary: $color-300;
$color-hover: $color-600;
$color-glow: $color-700;
$font-family: 'Montserrat', sans-serif;
